# .env.example

# MongoDB Configuration
MONGODB_URI=mongodb://<username>:<password>@localhost:27017/<dbname>

# Flask Configuration
FLASK_APP=app.py
FLASK_ENV=development
FLASK_SECRET_KEY=your_secret_key_here
